useDynLib(sox, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "abline", "points", "segments", "axis", "matplot")
importFrom("stats", "sd")
importFrom("survival", "Surv", "coxph")
importFrom("glmnet", "coxnet.deviance")
export("sox",
       "sox_cv",
       "nested_structure",
       "overlap_structure")
S3method(plot, sox)
export(plot.sox)
S3method(plot, sox_cv)
export(plot.sox_cv)